<%- include ('partials/header.ejs') %>



<body>
<%- include ('partials/navbar.ejs') %>
 

<!--Home page section-->
<%- include ('partials/Homepage.ejs') %>


<!-- About me -->
<%- include ('partials/Aboutme.ejs') %>

<!-- Project Page -->
<%- include ('partials/ProjectPage.ejs') %>

<!-- Contact me-->
<%- include ('partials/Contact.ejs') %>
<!-- Footer -->
<%- include ('partials/footer.ejs') %>



    
  </body>
</html>
